img {
  object-fit: contain;
  height: 50px;
  width: 200px;
  margin-left: 20px;
}
.container {
  display: flex;
  justify-content:space-between;
  padding-bottom: 20px;
  border-bottom: solid #9069CD 5px;

}
.list-bar{
display: flex;
flex-direction: row;
}

.list {
  margin-top: 20px;
  margin-left: 30px;
color: grey;
font-weight: bold;

}

.button{
  margin-top: 10px;
  display: flex;
justify-content: flex-end;

}

button:hover{
  color:white;
  background-color: #9069CD;

}

 .button-log{
  margin-right: 30px;
background-color:white;
color: #9069CD;
font-size: 16px;
border-radius: 20px;
cursor: pointer;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
outline: none
}

.vegan {
  background-image: url("./assets/vegan.jpg");
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.research {
width: 800px;
height: 40px;
border-radius: 10px;
border: none;
outline: none;
}

footer{
  background:#7C4FC4;
  color: white;
  position:absolute;
  text-align: center;
  bottom:0;
  width:100%;
  padding-top:30px;
  height:50px;
}

.search-bar{
border-radius: 10px;
display: flex;
justify-content: flex-end;
}

.glass{
  height: 35px;
  width: 30px;
  background-color: #7C4FC5;
  border-radius: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 5px;
  margin-top: 3px;
}